<div style="margin-top: 2%; background-color:lightgrey; color:white">
  <nav class="navbar navbar-expand-lg navbar-blue bg-grey">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'login'" routerLinkActive="active" [hidden]= 'hide'>Log In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'userdata'" routerLinkActive="active" [hidden]= "hide1">User Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'profile'" routerLinkActive="active" [hidden]= "hide1">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'login'" routerLinkActive="active" (click)= "UserLogout()" [hidden]= "hide1">Log Out</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div style="margin: 5%; margin-right:40%; margin-left:10%;">
  <router-outlet></router-outlet>
</div>