<form [formGroup]= "EditForm" (ngSubmit) ="editUser()">
    <fieldset>
      <legend>User's Updation Form</legend>
      <div class="form-group">
        <label for="exampleInputEmail1">First Name</label>
        <input type="text" class="form-control" formControlName="fname" aria-describedby="emailHelp" placeholder="Enter First Name">
        <ul class="text-danger" *ngIf="!EditForm.get('fname').valid && EditForm.get('fname').touched" style="color: red;" >
          <li>Must not contain any special characters</li>
          <li>Must not contain any numbers and space</li>
          <li>Must be at least 3 characters but no more than 10</li>    
        </ul>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Last Name</label>
        <input type="text" class="form-control" formControlName="lname" aria-describedby="emailHelp" placeholder="Enter Last Name">
        <ul class="text-danger" *ngIf="!EditForm.get('lname').valid && EditForm.get('lname').touched" style="color: red;" >
          <li>Must not contain any special characters</li>
          <li>Must not contain any numbers and space</li>
          <li>Must be at least 3 characters but no more than 10</li>  
        </ul>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Mobile Number</label>
        <input type="text" class="form-control" formControlName="mobile" aria-describedby="emailHelp" placeholder="Enter mobile number">
        <ul class="text-danger" *ngIf="!EditForm.get('mobile').valid && EditForm.get('mobile').touched" style="color: red;" >
          <li>Must not contain any special characters or spaces</li>
          <li>Must be at least 10 digits</li>
        </ul>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" formControlName="email" aria-describedby="emailHelp" placeholder="Enter email">
        <ul class="text-danger" *ngIf="!EditForm.get('email').valid && EditForm.get('email').touched" style="color: red;" >
          <li>Must contain "@", Ex. xyz123@abc.com</li>
          <li>Must not contain any special characters</li>
          <li>Must be at least 3 characters but no more than 40</li>
        </ul>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Date of Birth</label>
        <input type="date" class="form-control" formControlName="dob" aria-describedby="emailHelp" placeholder="Enter date of birth">
        <span class="text-danger" *ngIf="!EditForm.get('dob').valid && EditForm.get('dob').touched" style="color: red;" >*fill the date</span>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">City</label>
        <input type="text" class="form-control" formControlName="city" aria-describedby="emailHelp" placeholder="Enter city">
        <ul class="text-danger" *ngIf="!EditForm.get('city').valid && EditForm.get('city').touched" style="color: red;" >
          <li>Must not contain any special characters</li>
          <li>Must not contain any numbers and space</li>
          <li>Must be at least 3 characters but no more than 20</li>
        </ul>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">PinCode</label>
        <input type="text" class="form-control" formControlName="pincode" aria-describedby="emailHelp" placeholder="Enter pincode">
        <ul class="text-danger" *ngIf="!EditForm.get('pincode').valid && EditForm.get('pincode').touched">
          <li>Must not contain any special characters, Ex.123456</li>
          <li>Allow only Indian pin-code</li>
        </ul>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">State</label>
        <input type="text" class="form-control" formControlName="state" aria-describedby="emailHelp" placeholder="Enter State">
        <ul class="text-danger" *ngIf="!EditForm.get('state').valid && EditForm.get('state').touched" style="color: red;" >
          <li>Must not contain any special characters</li>
          <li>Must not contain any numbers and space</li>
          <li>Must be at least 3 characters but no more than 10</li>
        </ul>
      </div>
      <button type="submit" class="btn btn-primary" [disabled] ="!EditForm.valid">Update</button>&nbsp;
      <button type="button" class="btn btn-primary" (click)= "resetForm()">Reset</button>&nbsp;
      <button type="button" class="btn btn-danger" (click)= "DeleteUser()">Delete Account</button>
    </fieldset>
</form>
<br>
<div>
  <p>
    <ngb-alert type="{{type}}" [dismissible]="false">{{msg}}</ngb-alert>
  </p>
</div>